/* ===================================== */
/* ========= General styles ============ */
/* ===================================== */

body {
  font-family: 'Lato', Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

a:link,
a:visited {
  cursor: pointer;

}

a:hover,
a:active {
	font-weight: bold !important;
	transition: 0.5s;
  cursor: pointer;
}

.bt {
    background: #09b39c;
    display: inline-block;
    color: #fff;
    padding: 4px 20px;
    text-align: center;
    border-bottom: #089b87 2px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-borderradius: 5px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear
}

.bt:hover {
    color: #fff;
    background-color: #0acbb1
}

.bt.large {
    font-size: 1.5em;
    padding: 5px 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-borderradius: 8px
}

.bt .sub-text {
    margin-top: -0.5em;
    display: block;
    font-size: 0.5em
}


/*.main-content {
	padding: 50px 0;
}*/


/* ===================================== */
/* ============ Typography ============= */
/* ===================================== */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

.navbar-brand {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 900 !important;
  color: #333;
  letter-spacing: .3px;
  padding-right: 30px;
}

.nav-links ul li {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #153071;
  letter-spacing: 1px;
}

.nav-links ul li:hover {
  font-weight: 500;
}

.site-desc {
  font-family: 'Lato', Arial, sans-serif;;
  font-size: 2em;
  font-weight: 900;
  color: #fff !important;
}

.subtitle {
  color: #fff;
}

.section-title {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  color: #153071;
  padding-bottom: 40px;
}

.caption-title {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #153071;
  padding: 20px 0 5px 0;
}

.caption {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  padding-bottom: 50px;
}

.bold-white {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #fff;
}

.bold-blue {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #153071;
}
/* ===================================== */
/* ========= Navigation menu =========== */
/* ===================================== */

.navbar {
  border: none;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .25);
  -webkit-transition: 0.4s;
     -moz-transition: 0.4s;
      -ms-transition: 0.4s;
          transition: 0.4s;
}

.icon-book-open {
  font-size: .8em;
}

/*--navbar sizes--*/
.navbar--size--xl {
  padding: 4rem 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1rem 0;
}
.navbar--size--sm {
  padding: 0;
}

/*--navbar color--*/
.navbar--color--white {
  background: #fff;
}
.navbar--color--primary {
  background: #fff;
}
.navbar--color--secondary {
  background: #fff;
}
.navbar--color--ghost {
  background-color: #fff;
  /*background: rgba(0,0,0,0.2);*/
}

/*--navbar text color (start)--*/
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost,
.navbar--color--ghost ul li a {
  color: #333;
}


/* ===================================== */
/* ============== Home ================= */
/* ===================================== */

.jumbotron {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: -1;
	background-color: #2980B9;
}

.jumbotron .hero-box {
	height: 500px;
  width: 500px;
  left: 0;
  top: 0;
}

/*.hero-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255,255,255,0.5);
	z-index: 1;
}*/

/* ===================================== */
/* ============== About ================ */
/* ===================================== */

#about {
  background-color: #ECF0F1;
}

.about-icons {
  width: 150px;
}

/* ===================================== */
/* ============== Services ============= */
/* ===================================== */

#services {
  background-color: #fff;
}

/* ===================================== */
/* =========== Testimonials ============ */
/* ===================================== */

#testimonials {
  background-color: #fff;
  height: 200px;
}

/* ===================================== */
/* ============ Companies ============== */
/* ===================================== */

#companies {
  background-color: #3498DB;
  height: 100px;
}

/* ===================================== */
/* ============= Pricing =============== */
/* ===================================== */

#pricing {
background-color: #2980B9;
height: 100px;
}


/* ===================================== */
/* ============= Footer ================ */
/* ===================================== */

#footer {
  background-color: #2C3E50;
  height: 100px;
}

/* ===================================== */
/* ========== Media queries ============ */
/* ===================================== */
